body {
	background:white url("../images/zig-zag.jpg") repeat;
	font-family: "Lucida Grande", Arial, Sans-Serif;
}

a {
	color:#000;
}

a:focus,
a:hover {
	background:#FC6;
	color:#111;
	text-decoration:none;
}

/*-----------------------------------------------------------------------------
* HEADER
/*---------------------------------------------------------------------------*/

header {
	background:#333;
	border-bottom:2px solid #CCC;
	font-family:"Bevan", Impact, Arial, Sans-serif;
	margin-bottom:1em;
	min-width:760px;
}

header h1 {
	color:#FC6;
	display:block;
	float:left;
	font-size:2em;
	max-width:300px;
	padding:0.5em 1em;
	text-shadow:-1px -1px 1px #111;
}

header h1 span.rb {
	color:#C52F24;
	letter-spacing:1px;
	margin-left:0.25em;
}

/* USER NAV */
div#user-nav {
	color:#777;
	display:block;
	float:right;
	font-size:0.85em;
	margin:12px;
	text-align:right;
}

div#user-nav a {
	color:#C52F24;
}

div#user-nav span.delete {
	color:#555;
	display:block;
	font-size:0.85em;
	margin-top:0.75em;
}

div#user-nav span.get-listed a {
	background:#FF8000;
	border:2px solid #C05C2C;
	color:#fff;
	display:block;
	margin:6px;
	padding:0.5em;
	text-decoration:none;
	text-shadow:1px 1px 0 #111;
}

/*-----------------------------------------------------------------------------
* INTRO
/*---------------------------------------------------------------------------*/

div.intro {
	margin:1.5em;
}

div.intro h2 {
	color:#1693D0;
	font-family:"Arvo", "Rockwell", Courier, "Courier New", monospace;
	font-size:2.5em;
	font-weight:bold;
	letter-spacing:2px;
	line-height:1.5;
	text-shadow:1px 1px 0 #fff, 2px 2px 0 #036;
}

.container {
	min-width:760px;
}

#meetup {
	background:#FC6;
	margin:0 1.5em;
	padding:1em;
	float:left;
}

#meetup span.next {
	color:#C00;
	text-transform:uppercase;
}

#meetup .lanyrd-target-splat, #meetup .lanyrd-target-splat * {
  display: inline;
  margin-top: 10px;
}

#meetup .lanyrd-target-splat h3 {
  display: none;
}

#meetup .lanyrd-target-splat .lanyrd-date {
  margin-right: 5px;
}

#news {
	color:#1693D0;
	margin:0 1.5em;
	padding:1em;
}

/*-----------------------------------------------------------------------------
* TWITTER FEED
/*---------------------------------------------------------------------------*/

#twitter-feed {
	float:left;
	margin:10px 10px 10px 2%;
	width:35%;
	min-width:300px;
}

#twitter-feed h3 {
	color:#1693D0;
	font-family:"Arvo", "Rockwell", Courier, "Courier New", monospace;
	font-size:1.5em;
	font-weight:bold;
	letter-spacing:2px;
	line-height:1.5;
	margin-bottom:0.5em;
	text-shadow:1px 1px 0 #fff;
}



/*-----------------------------------------------------------------------------
* USERS
/*---------------------------------------------------------------------------*/

section#users {
	float:left;
	width:55%;
	min-width:428px;
}

div.user {
	background:#fefefe;
	border:2px solid #069;
	box-shadow:2px 2px 0 #6CF; -mox-box-shadow:2px 2px 0 #6CF; -webkit-box-shadow:2px 2px 0 #6CF;
	margin:10px;
	padding:1em;
}

div.user img {
	box-shadow:2px 2px 0 #CCC; -moz-box-shadow:2px 2px 0 #CCC; -webkit-box-shadow:2px 2px 0 #CCC;
	float:left;
	margin: 0 1em 1em 0;
	width:48px;
}

div.user h1 {
	font-size:1.2em;
	font-weight:bold;
	margin-bottom:0.25em;
}

div.user span.twitter a {
	color:#B3B3B3;
	font-size:0.75em;
	font-weight:normal;
}
div.user span.twitter a:focus,
div.user span.twitter a:hover {
	color:#111;
}

div.user p.description {
	color:#666;
	line-height:1.3;
}

div.user a {
	font-size:0.85em;
}

/*-----------------------------------------------------------------------------
* TWEETUP
/*---------------------------------------------------------------------------*/

a.follow {
	float:right;
	margin:10px;
}

span.tweetup {
	background:#DDD;
	border-bottom:2px solid #fff;
	border-top:2px solid #fff;
	display:block;
	line-height:1.5;
	margin:2%;
	padding:1em;
	position:relative;
	text-align:left;
	text-shadow:0 1px 0 #fff;
}



/*-----------------------------------------------------------------------------
* FOOTER
/*---------------------------------------------------------------------------*/

footer {
	color:#666;
	font-size:0.85em;
	margin-top:3em;
	padding:1em;
}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}