<% @users.each do |user| %>
	<div class="user">
		<%= image_tag user.image_url %>
		<h1><%= user.name %></h1>
		<p class="description"><%= user.description %></p>
		<%= link_to user.website %>
	</div>
<% end %>
