<section id="members">
  <h1>Members</h1>

  <% @users.each_with_index do |user, index| %>
    <% if index % 6 == 0 %>
      <article class="member add">
        <%= link_to "Add yourself with Twitter", "/auth/twitter" %>
      </article>
    <% end %>
    <article class="member">
      <%= image_tag user.image_url, class: "avatar" %>
      <h1 class="name"><%= link_to user.name, user.website %></h1>
      <h2 class="twitter"><%= link_to "@#{user.nickname}", "http://twitter.com/#{user.nickname}" %></h2>
    </article>
  <% end %>
</section>