#next-event {
  background: #EEE;
  margin: 0 10px;
  padding: 20px 10px;
  h1 {
    display: inline;
    font-size: 24px;
  }

  .lanyrd-target-splat {
    display: inline;
    & * {
      display: inline;
      margin: 0;
      padding: 0;
    }

    h3 {
      display: none;
    }

    .lanyrd-date {
      font-size: 24px;
      margin-right: 5px;
    }
  }
}
