@import "modules";

#members {
  @extend .clearfix;
  margin-bottom: 20px;
  padding: 0 20px;

  .member {
    margin: 0 0 18px 0;

    a {
      color: #444;

      &:hover,
      &:active,
      &:focus {
        background: #DDD;
      }
    }

    .name {
      font-size: 18px;
      line-height: 1.3;
      margin: 0 0 0.2em 0;
    }

    .twitter {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }

    .avatar {
      border-radius: 3px;
      float: left;
      height: 48px;
      margin-right: 10px;
      width: 48px;
    }
  }

  .member.add {
    background: url("http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/48/twitter.png") no-repeat left center;
    line-height: 48px;
    min-height: 48px;
    padding-left: 58px;

    a {
      color: #53C7ED;
      font-weight: bold;

      &:visited {
        color: #53C7ED;
      }
    }
  }

}